{% extends 'base/index.html' %}
{% load staticfiles %}
}
{% block content %}

<div class="container">
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">

            <div class="bs-component">
            	<table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Código</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Editar</th>
                    <th scope="col">borrar</th>
                  </tr>
                </thead>
                <tbody>
                  	{% for Producto in object_list %}
                  	<tr>
                  		<td>{{Producto.id}}</td>
						          <td>{{Producto.nombre}}</td>
                      <td>{{Producto.precio}}</td> 
                      <td>{{Producto.caracteristicas}}</td>  
						          <td>{{Producto.codigo}}</td>
						          <td>{{Producto.cantidad}}</td>
                      <td><a href="{% url 'Productos:editarRegistro' Producto.id %}">Editar</a></td>
                      <td><a href="{% url 'Productos:eliminarRegistro' Producto.id %}">Borrar</a></td>
					           </tr>

					          {% empty %}
					           <p>No hay productos</p>
					         {% endfor %}
              </table>
            <a href="{% url 'Productos:nuevoRegistro' %}" class="btn btn-info">Nuevo Registro</a>
            </div>

            
          </div>
        </div>
      </div>
      {% endblock%}


